extends layout

block content
    include nav
    section.about
        .container
            h2 About
            p I have had an interest in web development and programming since an early age. In 2012 I graduated from Florida State University with a bachelors in science in information technology.
            p I have been living in Austin, Texas since 2013 and have been working as a front end developer at IBM.
            h2 Contact
            p some email
            p linkedin
            p github
            h2 Resume
            .buttons
                a.button(href="something.pdf") download PDF
                a.button(href="something.doc") download DOC
            h3 Software Developer
            p IBM
            p 8/15 - Current
            p Worked on Auto-Scaling UI for Bluemix using Node, React, and SCSS.
            p Worked on Auto-Scaling API microservices using Python.
            p Working on IBM Kubernetes UI using Node, React, and SCSS.
            p Contributing to IBM's opensource style and React library.
            p Working closely with design and UX to contribute to look and feel of IBM's Kubernetes UI.
