extends layout

block content
  .fullsize
    .container
      h1= message
      h2= error.status
      a(href="/")
        h3 These things happen. Let's get you back to davidmenendez.net
      pre #{error.stack}
