footer.footer
  h2#contact Contact
  ul.footer-links
    li.footer-link-item
      a.footer-link(href="mailto:david.menendez.atx@gmail.com" aria-label="Email")
        svg.icon.icon-envelop
          use(xlink:href='#icon-envelop')
    li.footer-link-item
      a.footer-link(href="https://www.linkedin.com/in/davidamenendez" target="_blank" rel="noreferrer" aria-label="Linkedin")
        svg.icon.icon-linkedin2
          use(xlink:href='#icon-linkedin2')
    li.footer-link-item
      a.footer-link(href="https://github.com/davidmenendez" target="_blank" rel="noreferrer" aria-label="GitHub")
        svg.icon.icon-github
          use(xlink:href='#icon-github')
  small Copyright &copy; 2019 David Menendez