footer
  h2#contact Contact
  ul
    li
      a(href="mailto:david.menendez.atx@gmail.com" aria-label="Email")
        svg.icon.icon-envelop
          use(xlink:href='#icon-envelop')
    li
      a(href="https://www.linkedin.com/in/davidamenendez" target="_blank" aria-label="Linkedin")
        svg.icon.icon-linkedin2
          use(xlink:href='#icon-linkedin2')
    li
      a(href="https://github.com/davidmenendez" target="_blank" aria-label="GitHub")
        svg.icon.icon-github
          use(xlink:href='#icon-github')
  small Copyright &copy; 2019 David Menendez