extends layout

block content
  section.intro
    .container
      h1.display Greetings, I'm David Menendez and I'm a front end web developer
      .buttons
        a.button.button-large(href="about") about
        a.button.button-large(href="portfolio") portfolio
