extends layout

block content
  section.splash.fullsize
    .container
      h1.display Greetings, I'm David Menendez and I'm a front end web developer
      .buttons
        a.nav-button.button(href="#about") about
        a.nav-button.button(href="#contact") contact
  section#about.about.section
    .container
      h2 About
      article.about-blurb
        img.about-image(src="images/david_menendez.jpg" alt="David Menendez")
        p My Name is David Menendez and I am a professional front end web developer. I'm originally from South Florida and I am graduate of Florida State University with a Bachelor of Science in Information Technology.
        p I currently live in Austin, Texas and work as a Software Developer for IBM. For the past several years I have been working on the IBM Cloud UI primarily as a front end developer.
        p When I'm not coding I spend a lot of free time being active outdoors or creating music.
  section.section
    .container
      h2 Resume
      p Feel free to take my resume with you. Be sure to keep it somewhere safe!
      .buttons
        a.button(href="docs/david_menendez_resume.pdf") download pdf
        a.button(href="docs/david_menendez_resume.docx") download doc
      article.resume-entry
        header.resume-header
          h3 Software Developer
          h4 IBM, 8/15 - Current
        ul.resume-list
          li.resume-item Developed Autoscaling UI for IBM Bluemix using Node, React, and SCSS
          li.resume-item Developed Kubernetes UI for IBM Cloud using Node, React, and SCSS
          li.resume-item Contributed to IBM's opensource design library (Carbon Components) for button and modal components as well as internal IBM shared components
          li.resume-item Worked closely with UX team to develop look and feel of Kubernetes UI
          li.resume-item Implemented analytics for IBM Kubernetes UI to establish cluster usage data
          li.resume-item Created Slack portal to drive user involvement in IBM Cloud public Slack from 600 to over 5,000 active users
      article.resume-entry
        header.resume-header
          h3 Interactive Developer II
          h4 Blackbaud Inc, 10/13 - 8/15
        ul.resume-list
          li.resume-item Developed splash pages, microsites, and custom fundraiser forms from HTML, CSS, JavaScript, jQuery, and Convio Luminate software
          li.resume-item Simultaneously worked with multiple projects and clients such as Make-a-Wish Foundation and American Cancer Society
      article.resume-entry
        header.resume-header
          h3 Jr. PHP Web Developer
          h4 Zimmerman advertising, 9/12 - 9/13
        ul.resume-list
          li.resume-item Developed microsites for clients such as Party City, BikeStreet USA, and White Castle using HTML, CSS, JavaScript, jQuery, PHP, and .NET MVC 4
  section.section
    .container
      h3 Tools
      p Here are some of the tools I use on a daily basis.
      ul.tools
        li.tools-item React
        li.tools-item Node
        li.tools-item JavaScript
        li.tools-item Webpack / ES6 / Babel
        li.tools-item Git version control
        li.tools-item SCSS
        li.tools-item Unit Testing (Jest, Jasmine, Enzyme)
        li.tools-item Integration Testing (Nightmare)
        li.tools-item HTML / CSS