doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title="David Menendez | " + title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:300&display=swap")
  body
    block content