doctype html
html
  head
    title="David Menendez | " + title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto|Work+Sans:300&display=swap")
  body
    block content