block nav
    header
        .container
            nav.nav
                h2.nav-title
                    a(href="/").nav-link David Menendez
                ul.nav-links
                    li
                        a(href="/about").nav-link About
                    //- li
                    //-     a(href="/portfolio").nav-link Portfolio