$red: #d25656;
$redHov: #9E4141;
$white: #fff;
$offWhite: #eee;
$black: #222;
@mixin mobile {
  @media (min-width: 575px) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  color: $black;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 0 0 .5rem 0;
}

h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: $red;
}

a {
  text-decoration: none;
  color: $red;
}

p {
  margin: 0 0 1rem 0;
}

.display {
  font-weight: 400;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  @include mobile {
    font-size: 3.375rem;
  }
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.splash {
  background: url("../images/splash.jpg") center center fixed;
  background-size: cover;
  color: $white;
}

.button {
  font-weight: 700;
  background: $red;
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  line-height: 1.5;
  border-radius: .25rem;
  transition: background 300ms ease;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5rem 1rem;
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  &:hover {
    background: $redHov;
  }
  @include mobile {
    display: inline-block;
    margin-bottom: 0;
  }
}

.buttons {
  margin-bottom: 1rem;
  @include mobile {
    .button:last-child {
      margin-left: 1rem;
    }
  }
}

.resume-item {
  margin-top: .5rem;
}

.section {
  padding: 6rem 0;
  border-bottom: 1px solid $offWhite;
}

.tools {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  &-item {
    margin-top: .5rem;
  }
  @include mobile {
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  color: $white;
  background: $red;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &-links {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @include mobile {
      width: auto;
    }
  }
  &-link-item {
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &-link {
    border: 2px solid $white;
    color: $white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 300ms ease, background 300ms ease;
    &:hover {
      color: $red;
      background: $white;
    }
  }
}

.about {
  &-blurb {
    overflow: hidden;
  }
  &-image {
    width: 100%;
    margin: 0 0 1rem 0;
    max-width: 100%;
    @include mobile {
      max-width: 300px;
      float: left;
      margin: 0 1rem 0 0;
    }
  }
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fullsize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}